@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-100: #ffffff;
  --white-200: #f8f8f8;
  --white-300: #e8e8e8;
  --black-100: #232a3d;
  --black-200: #2d3248;
  --black-300: #33394c;
  --gray-100: #d8d8d8;
  --gray-200: #c8c8c8;
  --gray-300: #b8b8b8;
  --iris-100: #5d5fef;
  --iris-200: #7879f1;
  --iris-300: #a5a6f6;
  --fuschi-100: #ef5da8;
  --fuschi-200: #f178b6;
  --fuschi-300: #fcddec;
  --lime-100: #20c997;
  --lime-200: #40c79e;
  --lime-300: #4bebbb;
}

html,
body,
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@layer base {
  html {
    font-family: "Kanit", system-ui, sans-serif;
  }
}

@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
}

.h1-font {
  font-family: "Kanit";
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.h2-font {
  font-family: "Kanit";
  font-size: 1.5rem;
  line-height: 1.5;
}

.h3-font {
  font-family: "Kanit";
  font-size: 1.25rem;
}

/* paragraph font */
.text-font {
  font-family: "Kanit";
  font-size: 1rem;
}

/* paragraph link */
.span-font {
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: bold;
}

.tag-font {
  font-family: "Kanit";
  font-size: 0.875rem;
}

.semiTag-font {
  font-family: "Kanit";
  font-size: 0.75rem;
}
